<div class="container">
  <h2>Lista de vehiculos para alquilar</h2>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <!--<th>Imagen</th>-->
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>Precio</th>
        <th>Seleccion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of vehiculos">
        <!--<td><img src="{{vehiculo.imagen}}" width="50" height="50"></td>-->
        <td>{{ vehiculo.marca }}</td>
        <td>{{ vehiculo.modelo }}</td>
        <td>{{ vehiculo.anio }}</td>
        <td>{{ vehiculo.precio_Alquiler }}</td>
        <td><button class="btn btn-success" (click)="SeleccionarVehiculo(vehiculo)">Seleccionar</button></td>
      </tr>
    </tbody>
  </table>
</div>
